<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training for Climbing: Self-Assessment Test</title>
</head>
<body>
    <form id="self-assessment-test" name="self-assessment-test">
        <% for i in questions { %>
        <input type="radio" id="<%= questions[i] %>" name="<%= questions[i] %>" value="<%= questions[i] %>">
        <label for="<%= i + 1 %>">#{ index }. <%= questions[i] %></label>
        <% } %>
        <button type="submit">Submit</button>
    </form>
    <script src="handle-form-submit.js"></script>
</body>
</html>