<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training for Climbing: Self-Assessment Test</title>
</head>
<body>
    <form id="self-assessment-test" name="self-assessment-test">
        <input type="radio" id="#{ question }" name="#{ question }" value="#{ question }">
        <label for="#{ question }">#{ index }. #{ question }</label>
    </form>
</body>
</html>