<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training for Climbing: Self-Assessment Test</title>
</head>
<body>
    <form id="self-assessment-test" name="self-assessment-test">
        <% for (i in questions) { %>
        <p><%= +i + 1 %>. <%= questions[i].text %></p>
        
        <% for (let j = 1; j <= 5; j++) { %>
        <input type="radio" id="<%= j %>" name="<%= i %>-<%= questions[i].slug %>" value="<%= j %>">
        <label for="<%= i %>-<%= questions[i].slug %>"><%= j %></label>
        <% } %>
        <% } %>
        <button type="submit">Submit</button>
    </form>
    <script src="handle-form-submit.js"></script>
</body>
</html>