<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training for Climbing: Self-Assessment Test</title>
    <style>
        :root {
            --text-color: #16161d;
            --gray-color: #ececed;
            --selected-color: #3d01f2;
        }

        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            font-size: 16px;
            line-height: 1.5;
            padding: 1rem;
        }

        label {
            display: inline-block;
            padding: .25rem .5rem;
            color: var(--text-color);
            background: var(--gray-color);
            border-radius: .25rem;
            margin-bottom: .25rem;
        }


        input[type="radio"] {
            display: none;
        }

        input[type="radio"]:checked + label {
            background: var(--selected-color);
            color: white;
        }

        label[for*="-5"] {
            margin-bottom: 32px;
        }


        .submit-button {
            display: block;
            position: relative;
            padding: .5rem 1rem;
            font-size: 1.5rem;
            color: white;
            font-weight: 600;
            letter-spacing: .0125rem;
            border: solid .125rem var(--selected-color);
            background: var(--selected-color);
            border-radius: .25rem;
            margin-bottom: 2rem;
            cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🥳</text></svg>")
      16 0, auto;
        }

        .submit-button:hover, label:hover {
            transition: all 0.25s;
            transform: scale(1.05);
            box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2), 
                        0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .submit-button:focus {
            outline: none;
        }

        /** Button Focus State **/

        /* .submit-button:focus::before {
            display: initial;
            animation: pulse .5s ease-in-out infinite alternate;
        }

        .btn:active:focus::before {
            display: none;
        }

        .submit-button::before {
            display: none;
            content:"";
            z-index: -1;
            position: absolute;
            width: calc(100% + .5rem);
            height: calc(100% + .5rem);
            box-shadow: 0 0 0 .25rem #E94584;
            border-radius: .25rem;
            top: -.25rem;
            left: -.25rem;
        }

        @keyframes pulse {
            100% {
                transform: scale(1.05);
            }
        } */

        label:hover {
            color: var(--selected-color);
        }

        .submit-button:hover {
            border: solid .125rem var(--selected-color);
            color: var(--selected-color);
            background-image: 
                repeating-linear-gradient(
                    135deg, 
                    #E94584, 
                    #E94584 1rem,
                    #F17C58 1rem,
                    #F17C58 2rem,
                    #FFDC18 2rem,
                    #FFDC18 3rem,
                    #27DBB1 3rem,
                    #27DBB1 4rem,
                    #24AADB 4rem,
                    #24AADB 5rem, 
                    #27DBB1 5rem,
                    #27DBB1 6rem,
                    #FFDC18 6rem,
                    #FFDC18 7rem,
                    #F17C58 7rem,
                    #F17C58 8rem,
                    #E94584 8rem, 
                    #E94584 9rem,
                    #F17C58 9rem,
                    #F17C58 10rem,
                    #FFDC18 10rem,
                    #FFDC18 11rem,
                    #27DBB1 11rem,
                    #27DBB1 12rem,
                    #24AADB 12rem,
                    #24AADB 13rem, 
                    #27DBB1 13rem,
                    #27DBB1 14rem,
                    #FFDC18 14rem,
                    #FFDC18 15rem,
                    #F17C58 15rem,
                    #F17C58 16rem
                    );
                background-size: 200% 200%;
                animation: stripes 1s linear infinite;
            }

        @keyframes stripes {
            100% {
                background-position: 100% 100%;
            }
        }

        .answer-zone {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: .75rem;
        }
        .answer-group {
            padding: 2rem;
            display: flex;
            text-align: center;
            justify-content: space-between;
            flex-direction: column;
        }

        .answer-group h3 {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1;
        }

        .answer-group p {
            font-size: 2rem;
            font-weight: 600;
        }


        .answer-group:nth-child(1) {
            background: #ffd0d0;
        }
        .answer-group:nth-child(2) {
            background: #ffffd0;
        }
        .answer-group:nth-child(3) {
            background: #d0ddff;
        }


        /****** Cursors *****/

        label[for*="-0"] {
            cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🥵</text></svg>")
      16 0, auto;
        }

        label[for*="-1"] {
            cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>😬</text></svg>")
      16 0, auto;
        }

        label[for*="-2"] {
            cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>😥</text></svg>")
      16 0, auto;
        }

        label[for*="-3"] {
            cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>😕</text></svg>")
      16 0, auto;
        }

        label[for*="-4"] {
            cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👍</text></svg>")
      16 0, auto;
        }

        label[for*="-5"] {
            cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🤘</text></svg>")
      16 0, auto;
        }


        @media screen and (max-width: 375px) {
            label {
                display: flex;
            }

            .submit-button {
                width: 100%;
                text-align: center;
            }
        }
    </style>
</head>
<body>
    <form id="self-assessment-test" name="self-assessment-test">
        <% for (let i in questions) { %>
        <p><%= +i + 1 %>. <%= questions[i].text %></p>
        <% for (let j = 0; j <= 5; j++) { %>
        <% var id = `q${ +i + 1}-${j}` %>
        <input
            type="radio"
            id="<%= id %>"
            name="q<%= +i + 1 %>"
            value="<%= j %>"
        >
        <label
            for="<%= id %>"
        ><% switch (j) {
            case 0: %>
            almost always
          <% break;

            case 1: %>
            often
          <% break;

            case 2: %>
            about half the time
          <% break;

            case 3: %>
            occasionally
            <% break;

            case 4: %>
            seldom
          <% break;

            case 5: %>
            never
            <% break;

            default:
            break; } %>
        </label>



        <% } %>
        <% } %>
        <button class="submit-button" type="submit">Submit</button>
    </form>
    <div id="answer-zone" class="answer-zone">
        <div class="answer-group" id="group-1"></div>
        <div class="answer-group" id="group-2"></div>
        <div class="answer-group" id="group-3"></div>
    </div>
    <script src="js/handle-form-submit.js"></script>
</body>
</html>